@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @foreach(var item in Model)
    {
        <ul>
            <li>
                <a href="@Url.Action("Detail", "Home", new { parkCode = item.ParkCode})">
                    <img src="@Url.Content("~/Content/img/park/" + item.ParkCode + ".jpg")" />        
                 </a>
            </li>
            <li>@item.Name</li>
            <li>@item.State</li>
            <li>@item.Description</li>
        </ul>


    }



</div>
