@using Capstone.Web.Models;
@model Survey
@{
    ViewBag.Title = "TakeSurvey";
}

<h2>Take Survey</h2>
<form action="@Url.Action("TakeSurvey", "Home")" method="post">
    <div>
        Park Name @Html.DropDownListFor(m => m.ParkCode, Model.NationalParks)<br />
        Email: @Html.TextBoxFor(m => m.EmailAddress)<br />
        State @Html.DropDownListFor(m => m.State, Model.States)<br />
        Physical Activity Level @Html.DropDownListFor(m => m.ActivityLevel, Model.PhysicalActivityList)<br />
        <button>Submit</button>
    </div>
</form>



